{% extends "base.html" %}

{% block content %}
Results: <b>{{ request.args.get('name') }}</b> {{ request.args.get('year') }} 
</p>
<table border=1>
  <tr><td>Tävling</td><td>Arrangör</td><td>Tävlnigsklass</td><td>Placering</td><td>Deltagare</td></tr>
  {% for comp, values in results.items() %}
  <tr>
    <td>
      <a href={{base_url}}/competition?compId={{ values.compId }}&year={{request.args.get('year') }}&class={{values.class}}>{{ comp }}</a></td><td>{{values.arrangingClub}}</td><td>{{ values.class }}</td><td> {{values.place}} </td><td> {{ values.total }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
